html {
  overflow-y: scroll;
}
.content{
    margin-left: 20%;
}
.header{
    margin-left: 80%;
}
@import url('https://fonts.googleapis.com/css?family=Courgette');
body{
    background: #ffe66d;
    font-family: 'Courgette', cursive;
    font-size: 27px;
    }
.buttons_header{
    border-radius: 5px;
    font-weight: 700;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 80px;
    height: 30px;
    float: right;
}
.button_cam{
    border-radius: 5px;
    font-weight: 700;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 80px;
    height: 30px;
    float: left;
}
.cam{
    margin-left: 140px;
    margin-right: 20px;
}
.reg{
    margin-right: 20px;
}
.box{
    padding: 16px;
}
.modal input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 5px solid #ffe66d;
    box-sizing: border-box;
    display: inline-block;
}
.modal input[type=username]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 5px solid #ffe66d;
    box-sizing: border-box;
    display: inline-block;
}
.modal button {
    width: 100%;
    background-color: #ffe66d;
    color: black;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}
button:hover {
    opacity: 0.8;
}
.formbox {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.disp{
      display: none;
}
.mcontent {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}
.exit {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    right: 25px;
    top: 0;
    color: #000;
}
.exit:hover,.exit:focus {
    color: #ffe66d;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)}}
@keyframes animatezoom { from {transform: scale(0)} to {transform: scale(1)}}
@media screen and (max-width: 300px) { span.psw { display: block; float: none; }
    .cancelbtn { width: 100%; }}
